.homeSlideText {
  width: 75%;
  top: 25.0vh;
}

.featureHeader {
  font-size: 1.5em;
}

.featureTitle {
  font-size: 2.5em;
}

.featureDescription {
  font-size: 1.25em;
}

.homeLinkDiv {
  margin-top: 2.0vh;
  margin-bottom: 2.0vh;
  font-size: 1.25em;
}

.prev, .next {
  width: 5%;
  font-size: 5.0em;
}

.dot {
  height: 1.0em;
  width: 1.0em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.welcomeMessage {
  font-size: 1.25em;
}
