div.ws_header {
  background-color: #215E21;
  border-color: #FFBF00;
}

div.ws_footer {
  border-color: #FFBF00;
}

a.ws_header_sitelinks:hover {
  color: #FFBF00;
}

a.ws_footer_sitelinks:hover {
  color: #FFBF00;
}
