div.article_index_body {
  width: 80%;
}

.articleIndexTitle {
  font-size: 3.0em;
  padding-top: 10.0vh;
}

.articleIndexExplanation {
  font-size: 1.5em;
  padding-top: 5.0vh;
  padding-bottom: 5.0vh;
}

.textArticleTitle {
  
}
