.aboutMainPanel {
  width: 95%;
  padding-top: 15.0vh;
}

.aboutHeader {
  padding-bottom: 5.0vh;
  font-size: 5.0em;
}

span.aboutPortrait {
  width: 30%;
}

span.aboutText {
  width: 70%;
}

p {
  font-size: 2.5em;
}
